---
export interface Props {
    title?: string;
    tags?: string[];
    photo?: string;
    content?: string;
    href?: string;
}

const {
    title = "Untitled",
    tags = [],
    photo = "",
    content = "",
    href = "/blog/blog-detail",
} = Astro.props as Props;

// create a 20-word excerpt
const words = (content || "").split(/\s+/).filter(Boolean);
const excerpt = words.slice(0, 20).join(" ") + (words.length > 20 ? "..." : "");
---

<a href={href} class="flex flex-col overflow-hidden rounded-lg shadow-lg">
    <div class="flex-shrink-0">
        <img alt={title} class="h-48 w-full object-cover" src={photo} />
    </div>

    <div class="flex flex-1 flex-col justify-between bg-[#ffffff] p-6">
        <div class="flex-1">
            {
                tags.length ? (
                    <p class="text-sm font-medium text-[#94792f]">
                        <span class="hover:underline cursor-pointer">
                            {tags.join(", ")}
                        </span>
                    </p>
                ) : null
            }

            <div class="mt-2 block">
                <p class="text-xl font-semibold text-[#102227]">{title}</p>
                <p class="mt-3 text-base text-[#102227]/80">{excerpt}</p>
            </div>
        </div>
    </div>
</a>
