---
import { Image } from "astro:assets";
import { properties } from "../../data/properties";
---

<section id="properties" class="py-12 bg-gray-50">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl text-[#94792f] font-bold mb-8 text-center">
            Our Properties
        </h2>
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
        >
            {
                properties.map((property) => {
                    return (
                        <div class="relative bg-white rounded-lg shadow hover:shadow-lg transition flex flex-col cursor-pointer">
                            <div class="rounded-md mb-4 overflow-hidden flex h-48">
                                <Image
                                    src={property.photos[0]}
                                    alt={property.name}
                                    class="w-full h-48 object-cover rounded-md mb-4 transition-transform duration-300 cursor-pointer hover:scale-105"
                                    width={400}
                                    height={192}
                                />
                            </div>
                            <div class="px-4 py-2">
                                <span class="text-[#94792f] font-medium">
                                    {property.price}
                                </span>
                                <h3 class="text-base text-[#1b3942] font-semibold mb-2">
                                    {property.name}
                                </h3>
                                <div class="flex align-baseline justify-between">
                                    <span class="text-sm text-[#1b3942]">
                                        Bedrooms: {property.bedrooms}{" "}
                                    </span>
                                    <span class="text-sm text-[#1b3942]">
                                        Bathrooms: {property.bathrooms}{" "}
                                    </span>
                                    <span class="text-sm text-[#1b3942]">
                                        Size: {property.size}{" "}
                                    </span>
                                </div>
                            </div>
                            <div class="text-xs absolute top-2 right-0 w-full px-2 flex justify-end">
                                <span class="bg-[#94792f] rounded-full px-2 text-white block w-fit">
                                    {property.status}
                                </span>
                            </div>
                        </div>
                    );
                })
            }
        </div>
    </div>
</section>
